<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
</head>

<body>
    {{>navbar}}
    <main>
        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-start">
                    <div class="col-lg-8 text-center text-lg-start">
                        <h1 class="font-secondary textt mb-4 font-bdy">Heavenly cakes</h1>
                        <h1 class="display-1 text-uppercase text-white mb-4 companylogofont">Sugargem</h1>
                        <h1 class="text-uppercase textt font-bdy">The Best Cakes In India</h1>
                        <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                            <button type="button" class="btn btn-outline-info">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="txt">
            <h3 class="textt aboutus">About Us</h3>
            <h2 class="text-uppercase text-white font-bdy">Welcome to Sugargem</h2>
        </div>
        <div class="grid">
            <div class="imgbg">

            </div>
            <div class="content">
                <div class="abttitle">
                    <h4 class="mb-4">Indulge in Sweet Moments</h4>
                </div>
                <div class="abtcontent">
                    <p class="mb-5">Indulge in the sheer delight of our cakes, where every bite is a blissful symphony
                        of flavors.
                        Moist and fluffy, they melt in your mouth, leaving a tantalizing sensation. From classic
                        favorites to unique creations, our cakes are crafted with love to bring you pure, unadulterated
                        deliciousness. Savor the goodness today!</p>
                </div>
                <div class="healthy">
                    <div id="bg-healthy"
                        class="d-flex align-items-center justify-content-center border-inner mb-4 logos">
                        <i class="fa fa-heartbeat fa-2x text-white"></i>
                    </div>
                    <h4 class="text-uppercase">100% Healthy</h4>
                    <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna
                        dolor vero</p>
                </div>
                <div class="award">
                    <div id="bg-award" class="d-flex align-items-center justify-content-center border-inner mb-4 logos">
                        <i class="fa fa-award fa-2x"></i>
                    </div>
                    <h4 class="text-uppercase">Award Winning</h4>
                    <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna
                        dolor vero</p>
                </div>
            </div>
        </div>
        <div class="services-main">
            <h1 class="services-head aboutus">Our Services</h1>
        </div>
        <div class="services">
            <div class="services services-subhd">
                <h4>Wedding Cakes</h4>
                <p class="contentser">Our exquisite wedding cakes are a delectable fusion of elegance and taste,
                    designed to make your special day truly unforgettable.</p>
            </div>
            <div class="services services-subhd">
                <h4>Birthday Cakes</h4>
                <p class="contentser">Celebrate birthdays in style with our scrumptious birthday cakes, baked to
                    perfection and bursting with irresistible flavors. Delight guaranteed!</p>
            </div>
            <div class="services services-subhd">
                <h4>Custom Cakes</h4>
                <p class="contentser">Indulge in our exquisite custom cakes, crafted with precision and passion. Each
                    bite is a unique symphony of flavors.</p>
            </div>
            <div class="services services-subhd">
                <h4>Sides</h4>
                <p class="contentser">Our delectable sides are the perfect accompaniment to any meal, adding a burst of
                    flavor and satisfying crunch. Try them today and elevate your dining experience!</p>
            </div>
        </div>


        <div class="counters-main">
            <h1 class="counters-head aboutus">Counter</h1>
        </div>
        <div class="counters">
            <div class="counters counter-subhd font-bdy">
                <h4>Cakes Sold</h4>
                <div class="cout" id="cakesold"></div>
            </div>
            <div class="counters counter-subhd font-bdy">
                <h4>Sides sold</h4>
                <div class="cout" id="sidessold"></div>
            </div>
            <div class="counters counter-subhd font-bdy">
                <h4>Total customers</h4>
                <div class="cout" id="totalcustomers"></div>
            </div>
            <div class="counters counter-subhd font-bdy">
                <h4>Chef's</h4>
                <div class="cout" id="chefcount"></div>
            </div>
        </div>
        <div class="counters-main">
            <h1 class="counters-head aboutus">menu & Pricing</h1>
        </div>
        <div class="menu menu-subhd font-bdy">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" name="cakes">Cakes</button>
                <button type="button" class="btn btn-primary" name="sides">Sides</button>
            </div>
        </div>
        <div class="container text-center font-bdy ">
            <div class="row">
                <div class="col card-container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/cake-1.jpg" class="img-fluid rounded-start cakeimg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col card-container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/cake-1.jpg" class="img-fluid rounded-start cakeimg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5">
            <div class="containerr">
                <div class="txt bgmain ">
                    <h3 class="textt aboutus">Our Team</h3>
                    <h2 class="text-uppercase text-white font-bdy">Chef's having many years of experience</h2>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4 ">
                    <div class="col">
                        <div class="card h-60">
                            <img src="img/chef1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="bg-dark border-inner text-center p-4">
                                    <h4 class="text-uppercase text-brown font-bdy">Robert Albetroz</h4>
                                    <p class="text-white m-0">Cake Specialist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-60">
                            <img src="img/chef3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="bg-dark border-inner text-center p-4">
                                    <h4 class="text-uppercase text-brown font-bdy">Laura fernandez</h4>
                                    <p class="text-white m-0">Cake Wonderworker</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-60">
                            <img src="img/chef4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="bg-dark border-inner text-center p-4">
                                    <h4 class="text-uppercase text-brown font-bdy">Thomas Seiden</h4>
                                    <p class="text-white m-0">Cake Artisan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {{>footer}}
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
<script>
    let counts = setInterval(cakesold);
    let upto = 0;
    function cakesold() {
        let count = document.getElementById("cakesold");
        count.innerHTML = ++upto;
        if (upto === 1334) {
            clearInterval(counts);
        }
    }
    let sec = setInterval(sidessold);
    let zero = 500;
    function sidessold() {
        let count = document.getElementById("sidessold");
        count.innerHTML = ++zero;
        if (zero === 1234) {
            clearInterval(sec);
        }
    }
    let time = setInterval(totalcustomers);
    let heyy = 10000;
    function totalcustomers() {
        let count = document.getElementById("totalcustomers");
        count.innerHTML = ++heyy;
        if (heyy === 12345) {
            clearInterval(time);
        }
    }
    let counter = setInterval(chefcount);
    let con = 0;
    function chefcount() {
        let count = document.getElementById("chefcount");
        count.innerHTML = ++con;
        if (con === 100) {
            clearInterval(counter);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>

</html>