<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid py-5 mb-5" id="abtpgimg">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-white mb-4 font-bdy text-center">Our Exotic Menu</h1>
            </div>
        </div>
    </div>
    <div class="container text-center font-bdy ">
            <div class="row">
                <div class="col card-container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/cake-1.jpg" class="img-fluid rounded-start cakeimg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Birthday Cake</h5>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur totam aut iure, harum sint esse minus fuga provident? Exercitationem vel non dignissimos commodi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col card-container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/cake-1.jpg" class="img-fluid rounded-start cakeimg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Wedding Cake</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, voluptate minus labore nam earum a pariatur sequi ducimus error ad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col card-container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/cake-1.jpg" class="img-fluid rounded-start cakeimg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Custom Cake</h5>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur totam aut iure, harum sint esse minus fuga provident? Exercitationem vel non dignissimos commodi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col card-container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/cake-1.jpg" class="img-fluid rounded-start cakeimg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sides</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, voluptate minus labore nam earum a pariatur sequi ducimus error ad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="font-bdy" style="padding: 40px;">To order you can also write name of item in the message box and we will contact you!</h1>
    <footer>
        {{>footer}}
    </footer>
</body>
</html>