<header>
<div class="container text-center txt">
        <div class="row align-items-start abovenav font-bdy">
            <div class="col">
                <p>E-mail: Sugargem04@gmail.com</p>
            </div>
            <div class="col">
                <H1 id="heading" class="companylogofont"></i>SUGARGEM</H1>
            </div>
            <div class="col">
                <p>Call Us: 9023293321</p>
            </div>
        </div>
</div>
<nav class="sticky-top">
        <ul>
            <li><a href="/" class="logo companylogofont">Sugargem</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/menu">Menu & Pricing</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="login">Login</a></li>
        </ul>
</nav>
</header>